@page "/todo"

<h3>ToDo</h3>

<form class ="mb-2">
    <div class="form-group">
        <input type="text" 
        class="form-control" 
        id="IdTodo" 
        placeholder = "algo que hacer" 
        @bind="newTodo"/>
    </div>
    <button type = "button" class="btn btn-primary mt-4" @onclick="AddTodo" mat-button>Añada cosas</button>
</form>

<form class ="mb-2">
    @foreach (var todo in todos)        
    {
        <div class="form-group">
            <imput type="checkbox" @bind="todo.IsDone" />
            <imput type="text" class="form-control" @bind="todo.Title" />
        </div>
    }
</form>

@code 
{
    private List<ToDoItem> todos = new();

    private string? newTodo;
    
    private void AddTodo()
    {
        if(!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new ToDoItem(){Title = newTodo});
            newTodo = string.Empty;
        }
    }
}
